
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #F4F6F8;
}


.sidebar-container {
    -fx-background-color: #003366;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 2, 0);
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 25 0 25 0;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B0C4DE;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 15 20 15 20;
    -fx-cursor: hand;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: transparent;
}

.nav-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
}

.nav-button:selected {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: #FFB347; 
    -fx-border-color: #FFB347;
    -fx-font-weight: bold;
}

.content-card {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1);
    -fx-padding: 20;
}

.header-label {
    -fx-text-fill: #003366;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #DCE1E7;
    -fx-border-radius: 3;
    -fx-padding: 8;
}
.text-field:focused {
    -fx-border-color: #003366;
}


.search-field {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 8 15 8 15;
    -fx-border-color: #0077BE;
}

.btn-primary {
    -fx-background-color: #004a99;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.btn-primary:hover { -fx-background-color: #003366; }

.btn-secondary {
    -fx-background-color: #f39c12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.btn-secondary:hover { -fx-background-color: #d35400; }

.btn-neutral {
    -fx-background-color: #95a5a6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-danger {
    -fx-background-color: #c0392b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.btn-danger:hover { -fx-background-color: #a93226; }


.table-view {
    -fx-background-color: white;
    -fx-border-color: #DCE1E7;
}
.table-view .column-header-background {
    -fx-background-color: #F4F6F8;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #DCE1E7;
}
.table-view .column-header .label {
    -fx-text-fill: #003366;
    -fx-font-weight: bold;
}