
.root {
    -fx-font-size: 14px; 
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    -fx-background-color: #F4F6F8; 
}

.sidebar-container {
    -fx-background-color: #003366;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 2, 0);
}

.sidebar-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 25 0 25 0;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B0C4DE;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 15 20 15 20;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 4;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

.nav-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-text-fill: white;
}

.nav-button:selected {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #C0A062;
    -fx-font-weight: bold;
}

.content-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #DCE1E7;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 3, 0, 0, 1);
    -fx-padding: 20;
}

.header-label {
    -fx-text-fill: #003366;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DCE1E7;
    -fx-border-width: 1;
    -fx-background-radius: 3;
    -fx-padding: 8 10 8 10;
}
.text-field:focused {
    -fx-border-color: #003366;
}


.search-field {
    -fx-prompt-text-fill: #999;
    -fx-background-radius: 20; 
    -fx-border-radius: 20;
    -fx-padding: 8 10 8 15; 
    -fx-border-color: #0077BE;
}

/* --- BOTTONI AZIONE --- */
.btn-primary, .btn-secondary, .btn-danger {
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}
.btn-primary { -fx-background-color: #004a99; -fx-text-fill: white; }
.btn-primary:hover { -fx-background-color: #003366; }
.btn-danger { -fx-background-color: #A52A2A; -fx-text-fill: white; }
.btn-danger:hover { -fx-background-color: #800000; }
.btn-secondary { -fx-background-color: #2E7D32; -fx-text-fill: white; }
.btn-secondary:hover { -fx-background-color: #1B5E20; }

.table-view {
    -fx-background-color: white;
    -fx-border-color: #DCE1E7;
    -fx-border-width: 1;
}
.table-view .column-header-background {
    -fx-background-color: #F4F6F8;
    -fx-border-width: 0 0 2 0;
}
.table-view .column-header .label {
    -fx-text-fill: #003366;
    -fx-font-weight: bold;
}
.scroll-pane > .viewport, .scroll-pane { -fx-background-color: transparent; }